.cart li {
  border-bottom: 1px solid #444;
  padding-block: 16px;
}

.cart footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
}
