@use "./_variables.scss" as *;

// --- Inicio: Estilos globales --- //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-roboto;
  background-color: $primary-color;
  overflow-x: hidden;
  user-select: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

.scroll-top-margin {
  scroll-margin-top: 5rem;
}

// --- Fin: Estilos globales --- //
