@use "./_variables.scss" as *;

// --- Inicio: Estilos globales --- //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-roboto;
  background-color: $primary-color;
  overflow-x: hidden;
  user-select: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

.scroll-top-margin {
  scroll-margin-top: 5rem;
}

.container {
  max-width: 1200px;
  width: 88% !important;
  margin: 0 auto;
}

.red__btn {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.75rem 2.5rem;
  font-size: 1.1em;
  background-color: $background-color-black;
  color: $background-color-white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $accent-color;
  }
}

.square__btn {
  padding: 0.75rem;
  background-color: $background-color-black;
  border: 2px solid $background-color-white;
  font-size: 1.3em;
  border-radius: 0;
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    background-color: $accent-color;
    border: 2px solid $accent-color;
  }
}
// --- Fin: Estilos globales --- //
