// Variables de color
$accent-color: #fe0000;
$primary-color: #070a0d;
$secondary-color: #cc0000; // por defecto, cambiar despues
$primary-color-fade: rgba(7, 10, 13, 0.8);

// Variables de fuente
$font-family-primary: "Special Elite", system-ui;
$font-family-roboto: "Roboto", sans-serif;
$font-white: #fff;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
