@use "./_variables.scss" as *;

// --- Inicio: Estilos globales --- //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-roboto;
  background-color: $primary-color;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

.scroll-top-margin {
  scroll-margin-top: 5rem;
}

// --- Fin: Estilos globales --- //

// --- Inicio: Loader --- //
.loader__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  z-index: 1000;
  animation: fadeOut 0.6s ease forwards 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loader {
  img {
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: fade 1.3s linear infinite alternate;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }

  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}

// --- Fin: Loader --- //

// --- Inicio: Logo --- //
.logo {
  font-family: $font-family-primary;
  text-transform: uppercase;
  padding: 0;

  span {
    color: $accent-color;
  }
}

// --- Fin: Logo --- //

// --- Inicio: Header --- //

@media screen and (max-width: 768px) {
  .header {
    background-color: $primary-color;
  }
}

.header__navbar {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.header__navbar.translate-x {
  transform: translateX(29.5%);
}

.header__navbar li a {
  font-size: 14px;

  &:hover {
    color: #fff;
  }
}

.header__menu-list {
  position: fixed;
  top: -5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 4;
  padding-block: 2rem;
  background-color: $primary-color;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.header__menu-list.active {
  top: 4.9rem;
  transform: translateY(0);
}

.latest-album {
  display: flex;
  flex-direction: column;
  width: 29.5%;
  height: 100vh;
  padding: 1rem;
  padding-block: 0.85rem;
  background-color: $primary-color-fade;
  transform: translateX(-130%);
  transition: transform 0.3s ease-in-out;
}

.latest-album.active {
  transform: translateX(0);
}

.social-links {
  a {
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      color: $accent-color;
    }
  }
}

.navbar__overlay {
  transition: background-color 0.3s ease 0.2s;
}

.navbar__overlay.active {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

// --- Fin: Header --- //

// --- Inicio: Botón ir arriba --- //
.up-btn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ff0033;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.up-btn:hover::after {
  background-color: #000;
}

// --- Fin: Botón ir arriba --- //

// --- Inicio: Music Player --- //

.music-player__container {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  img {
    width: 3rem;
    height: 3rem;
  }

  .music-player__text {
    display: none;
    opacity: 0;
  }

  .music-player__controls {
    display: none;
    opacity: 0;
  }
}

.music-player__container.active {
  width: 22rem;

  .music-player__text {
    display: block;
    animation: musicPlayerItem 0.3s ease-in-out forwards 0.2s;
  }

  .music-player__controls {
    display: flex;
    animation: musicPlayerItem 0.3s ease-in-out forwards 0.2s;
  }
}

@keyframes musicPlayerItem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.music-player__close-open {
  background-color: #1f2937;
  width: 30px;
  height: 30px;
  font-size: 28px;
  margin-block: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.music-player__article:hover .music-player__close-open {
  opacity: 1;
}

// --- Fin: Music Player --- //

// --- Inicio: Hero --- //

.hero__container {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 1) 100%
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%),
    url("../assets/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 62vh;
}

@media (min-width: 640px) {
  .hero__container {
    height: 90vh;
  }
}

@media (min-width: 768px) {
  .hero__container {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .hero__container {
    height: 130vh;
  }
}

.hero__title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../assets/images/gradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// --- Fin: Hero --- //

// --- Inicio: Latest News --- //

.latest-news__card {
  width: 21rem;
}

.latest-news__carousel {
  width: 92vw;
  height: 88vh;

  & .slick-list {
    padding-left: 2rem;
  }
}

/* Estilos de las flechas personalizadas */
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  // background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  font-size: 32px;
  color: #fff;
}

.slick-arrow.slick-prev {
  left: -10px; /* Posición a la izquierda */
}

.slick-arrow.slick-next {
  right: -10px; /* Posición a la derecha */
}

// --- Fin: Latest News --- //

// --- Inicio: About --- //

.about__members__article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .about__members__image-container {
    background-color: $accent-color;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__members__logo-container {
    position: absolute;
    right: -44px;
    top: -44px;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    border: 5px solid #e2e8f0;
    background-color: $accent-color;
    padding: 1rem;
    transition: background-color 0.3s ease-in-out;
  }

  &:hover .about__members__logo-container {
    background-color: $background-color-black;
  }

  .about__members__image {
    border-radius: 50%;
  }

  h4 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 18px;
  }
}

.latest-news__carousel-slider {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

// --- Fin: About --- //

// --- Inicio: Tour --- //

.table {
  width: 100%;
  border-collapse: collapse;

  td {
    font-weight: 500;
    padding: 1.2rem 0.75rem;
    text-align: left;
    letter-spacing: 0.8px;

    span {
      text-transform: uppercase;
    }
  }

  th {
    padding: 1.5rem 0.75rem;
    text-align: left;
    font-weight: 900;
    letter-spacing: 1px;
    color: $accent-color;
  }

  tr:nth-child(odd) {
    background-color: $primary-color-dark;
  }

  .table__header {
    background-color: $primary-color !important;
    font-size: 1.15em;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #4b5563;
  }

  .table__date {
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
  }

  .table__venue {
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.table__btn-ticket {
  font-weight: 500;
  background-color: $accent-color;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  text-align: center;
  width: 10rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $background-color-black;
  }
}

@media screen and (max-width: 768px) {
  .table__btn-ticket {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    max-width: 7rem;
    white-space: nowrap;
  }
}

.red__btn {
  color: $background-color-white !important;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.75rem 2.5rem;
  font-size: 1.1em;
  background-color: $accent-color;
  color: white;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $background-color-black;
  }
}
// --- Fin: Tour --- //

// --- Inicio: Albums --- //

.album__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.album__images__container {
  position: relative;
  width: 17rem;
}

.album__cover {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.album__disc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(40px);
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease;
}

.album__container {
  &:hover {
    .album__disc {
      transform: translateY(-50%) translateX(72px);
    }
  }
}

.album__title {
  font-size: 1.2em;
  color: $accent-color;
  font-weight: 900;
  letter-spacing: 0.8px;
}

.album__year {
  position: absolute;
  border: 2px solid $background-color-black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.18rem 0.65rem;
  font-weight: 900;
  font-size: 1.1em;
  right: -16px;
  bottom: 8px;
  z-index: 3;
}
// --- Fin: Albums --- //

// --- Inicio: Store --- //

.store__custom-slider {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

// --- Fin: Store --- //

// --- Inicio: Follow --- //

.follow__social__number {
  font-size: 1.3em;
  font-weight: 500;
}

.follow__social__text {
  font-size: 1.1em;
  font-style: italic;
  color: $font-grey;
}

.follow__anchor__icon__line::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 44px;
  background-color: $primary-color;
}

.follow__img__grid-container img {
  transition: filter 0.3s ease;

  &:hover {
    filter: blur(2px) grayscale(80%);
  }
}

// --- Fin: Follow --- //

// --- Inicio: Footer --- //

.footer {
  .footer__legal-links {
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color;
    }
  }
}

.footer__title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.posts {
  h4 {
    font-size: 18px;

    a {
      font-weight: 900;
      transition: color 0.3s ease;
    }
  }
  a {
    transition: color 0.3s ease;
    &:hover h4 a {
      color: $secondary-color;
    }
  }
}

.footer__list {
  li {
    padding: 0 10px; // ajusta el padding según sea necesario
    position: relative;

    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 768px) {
    li:not(:last-child)::after {
      content: "";
    }
  }
}

// --- Fin: Footer --- //
