@use "../../_variables.scss" as *;

.news-section {
  max-width: 100vw;

  .latest-news__carousel {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  max-width: 1200px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
